body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
    
}
.sadik{
    color: rgba(240, 6, 6, 0.842);
}
h3{
    color:#141414a8;
}
section{
    display: flex;
}
.halfwidth{
    width: 50%;
    padding-left: 5%;
   
}
.halfwidth img{
    width: 70%;
    padding-top: 10%;
}
.hirebtn{
    text-decoration: none;
    background-color:#ff6e36;
    padding: 10px 40px;
    border-radius: 15px;
    background-image: linear-gradient(#e13737,#4a4141);
    color: rgb(255, 253, 253);
    font-weight: 800;
    
}
.section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.background img{
    /* background-image: url(images/bg1.gif); */
    width: 124%;
    height: 30%;
    
}
.bottomsection{
    margin-bottom: 0;
}
.section2{
    margin-top: 0;
}